<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.scribble.wizard.category.ID"
      name="Scribble">
    </category>
    <wizard
      id = "org.scribble.designer.editor.NewScribbleWizardID"
      name = "Scribble"
      class = "org.scribble.designer.editor.NewScribbleWizard"
      category = "org.scribble.wizard.category.ID"
      icon = "icons/scribble.png">
      <description>New Scribble Description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Scribble Editor"
            icon="icons/scribble.png"
            extensions="spr,scv,stp"
            contributorClass="org.scribble.designer.editor.ScribbleActionContributor"
            class="org.scribble.designer.editor.ScribbleEditor"
            id="org.scribble.designer.editor.ScribbleEditor">
      </editor>
   </extension>
   
   <extension
         id="ExampleJavaDocumentSetupParticipant"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="spr,scv,stp"
            class="org.scribble.designer.editor.ScribbleDocumentSetupParticipant">
      </participant>
   </extension>

  <extension
        id="org.scribble.ScribbleProblem"
        name="Scribble Problem"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
     <persistent
           value="true">
     </persistent>
  </extension>

  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.scribble.designer.preferences.ScribblePreferencePage"
           id="org.scribble.designer.preferences.ScribblePreferencePage"
           name="Scribble">
     </page>
     <page
           category="org.scribble.designer.preferences.ScribblePreferencePage"
           class="org.scribble.designer.preferences.AnalysisPreferencePage"
           id="org.scribble.designer.preferences.AnalysisPreferencePage"
           name="Analysis">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.scribble.designer.preferences.PreferenceInitializer">
     </initializer>
  </extension>

  <extension point="org.eclipse.ui.popupMenus"> 
	<objectContribution 
      id="org.scribble.contribution.spr"
   			objectClass="org.eclipse.core.resources.IFile"
   				nameFilter="*.spr">
	  <menu
         id="org.scribble.menu"
         label="Scribble"
         path="additions">
      	<separator name="group1"/>
      </menu>
      <action
           label="Validate Scribble"
           class="org.scribble.designer.actions.ValidateAction"
           menubarPath="org.scribble.menu/group1"
           enablesFor="1"
           id="org.scribble.designer.actions.ValidateAction">
     </action> 
    </objectContribution>
  </extension>
	
</plugin>
